
:root {
  --color-primary: #1e40af; /* blue-800 */
  --color-secondary: #1e293b; /* slate-800 */
  --color-accent: #3b82f6; /* blue-500 */
  --safe-area-bottom: env(safe-area-inset-bottom);
}

body {
  -webkit-tap-highlight-color: transparent;
  padding-bottom: var(--safe-area-bottom);
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
